[submodule "dependencies/hardfloat"]
	path = dependencies/hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
[submodule "dependencies/cde"]
	path = dependencies/cde
	url = https://github.com/chipsalliance/cde.git
[submodule "dependencies/chisel"]
	path = dependencies/chisel
	url = https://github.com/chipsalliance/chisel.git
[submodule "dependencies/dependencies/gpc_cache"]
	path = dependencies/dependencies/gpc_cache
	url = https://github.com/IntelLabs/riscv-vector/
[submodule "dependencies/gpc_cache"]
	path = dependencies/gpc_cache
	url = https://github.com/IntelLabs/riscv-vector/
	branch = gpc_cache_stable
